html,
body {
    height: 100%;
}

body {
    background-color: #ECECEC;
    background-image: url("/static/img/cash.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content {
    padding-top: 100px;
    height: 500px;
}

#history {
    height: 100px;
}
