html,
body {
    height: 100%;
}

body {
    background-color: #ECF0F1;
    background-image: url("/static/img/cash.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 6px solid #366797;
    border-bottom: 6px solid #E96967;
}

#content {
    padding-top: 100px;
    height: 500px;
}

#history {
    height: 100px;
}
